{
  "presets": [
    ["env", {
      "targets": {
        "safari": 10.1,
        "chrome": 59,
        "edge": 15
      },
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": [],
      "alias": {
        "com": "./component",
        "css": "./cssbase"
      }
    }]
  ]
}
